<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
		<nav>
			<div class = "nav-wrapper">
				<a href = "/" class = "brand-logo right">RVtimes</a>
				<ul id = "nav-mobile" class = "left">
					<li><a href = "/">Хоме</a></li>
					<li><a href = "/blog">Блог</a></li>
					<li><a href = "/blog/shrek">Шрєк блогер</a></li>
					<li><a href="/blog/register">Register</a></li>
				</ul>
			</div>
		</nav>
	{% block content %}
	{% endblock %}
</body>
</html>
